@media (max-width: 992px) {
    .aside1 {
        flex: 1 100%;
        order: 3;
        height: 10em;


    }
    .aside2 {
        order: 2;
        height: 10em;

    }

    .section {
        order: 1;

    }

    .footer {
        order: 4;
    }

}

@media (max-width: 768px) {
    .aside1 {
        order: 2;


    }
    .aside2 {
        order: 3;


    }

    .section {
        order: 1;

    }

    .footer {
        order: 4;
    }
}
